*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    background: #000;
    font-style: normal;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    min-height: 90vh;
    background-image: url("./resource/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menuToggle a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}

.menuToggle a:hover {
    color: rgba(255, 255, 255, 1);
}

/* Setting for full screen  */

@media only screen and (min-width: 900px) {

    .logo {
        width: 60px;
        height: 50px;
        margin-left: 2rem;
        background-image: url("./resource/Screenshot\ 2566-04-06\ at\ 17.16.49.png");
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }

    .logo a {
        position: absolute;
        color: #000;
        z-index: 2;
    }

    .navbarContainer {
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 100%;
        min-height: 70px;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        transition: 0.5s;
    }
    .menuToggle {
        position: relative;
    }

    .navbarContainer:hover {
        background-color: rgba(0, 0, 0, 0.9);
    }

    .menuToggle input {
        display: none;
    }
    
    .menuToggle ul {
        font-size: 1.2rem;
        margin-right: 2rem;
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }

    .menuToggle ul a {
        margin: 0px 10px;
    }
}

/* Setting for mobile viewport  */

@media only screen and (max-width: 899px) {

    .header {
        box-sizing: border-box;
        overflow: hidden;
    }
    
    .navbarContainer {
        position: sticky;
        top: 0;
        min-width: 100%;
        height: 70px;
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .logo {
        width: 60px;
        height: 50px;
        margin-left: 2rem;
        background-image: url("./resource/Screenshot\ 2566-04-06\ at\ 17.16.49.png");
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }

    .menuToggle {
        display: block;
        position: relative;
        top: 4rem;
        right: 2rem;
        z-index: 1;
        user-select: none;
        box-sizing: border-box;
    }

    .menuToggle a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7);
        transition: color 0.3s ease;
    }

    .menuToggle a:hover {
        color: rgba(255, 255, 255, 1)
    }

    .menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -4.26rem;
        right: -0.5rem;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    .menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        position: relative;
        left: 0.28rem;
        top: -3.8rem;
        background-color: #fff;
        margin-bottom: 5px;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;;
    }

    .menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    .menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    .menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: rgba(255, 255, 255, 0.7);
    }

    .menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    .menu {
        position: absolute;
        width: 18rem;
        margin: -43px 0px 0px -130px;
        background-color: rgba(0, 0, 0, 1);
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        border-bottom-left-radius: 10px;
        z-index: 1;
    }

    .menu li {
        padding: 10px 0px 0px 20px;
        font-size: 1.2rem;
        line-height: 2rem;
        z-index: 10;
    }

    .menu:last-child {
        padding-bottom: 15px;
    }

    .menuToggle input:checked ~ ul {
        transform: none;
    }
}

.textBanner {
    color: #fff;
    font-size: clamp(14px, 1.5vw, 20px);
    margin: auto;
    padding: 3em;
    font-family: 'Changa One', cursive;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-family: 'Rubik Mono One', sans-serif;
    z-index: 0;
}

.textBanner h1 {
    opacity: 0;
    animation: fade-in-animation 2s ease-in-out forwards;
}

@keyframes fade-in-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Seting for content section */
.heroSection-container > div:nth-child(1) {
    background: url("./resource/herosectionbanner.jpg");
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.heroSection-container > div:nth-child(2) {
    display: flex;
    justify-content: center;
    /* justify-items: center; */
    font-size: clamp(18px, 1.5vw, 24px);
    color: #fff;
}


/* for monitor screen */
@media only screen and (min-width: 900px) {
    .heroSection-container {
        display: grid;
        background: #000;
        max-width: 100vw;
        height: 500px;
        margin: 40px auto;
        grid-template-columns: repeat(2, 1fr);
    }
    
}

/* for mobile screen */
@media only screen and (max-width: 899px) {
    .heroSection-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #000;
        max-width: 100vw;
        margin: 40px auto;
    }

    .heroSection-container > div:nth-child(1) {
        width: clamp(300px, 80vw, 600px);
        min-height: 400px;
        padding: 20px;
        margin: 20px;
    }

    .heroSection-container > div:nth-child(2) {
        width: clamp(300px, 80vw, 600px);
        min-height: 400px;
        padding: 20px;
        margin: 20px;
    }
}