:root {
    --textColor: #fff;
    --bgColorBlack: #000;
    --bgColorRed: #ff0000;
    --textColorBF: rgba(255, 255, 255, 0.7);
    --textColorAT: rgba(255, 255, 255, 1);
    --textSizeforP: clamp(14px, 1.5vw, 20px);
    --textSizeforH: clamp(30px, 1.5vw, 44px);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    background: var(--bgColorBlack);
    font-style: normal;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* ================================================================
--------------------> Header and Navbar section  <-----------------
================================================================ */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    min-height: 90vh;
    background-image: url("./resource/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menuToggle a {
    text-decoration: none; 
    color: var(--textColorBF);
    transition: 0.3s;
}

.menuToggle a:hover {
    color: var(--textColorAT);
}

/*============== Setting for Desktop screen  ===================*/

@media only screen and (min-width: 900px) {

    .logo {
        width: 60px;
        height: 50px;
        margin-left: 2rem;
        background-image: url("./resource/Screenshot\ 2566-04-06\ at\ 17.16.49.png");
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }

    .logo a {
        position: absolute;
        color: #000;
        z-index: 2;
    }

    .navbarContainer {
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 100%;
        min-height: 70px;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        transition: 0.5s;
    }
    .menuToggle {
        position: relative;
    }

    .navbarContainer:hover {
        background-color: rgba(0, 0, 0, 0.9);
    }

    .menuToggle input {
        display: none;
    }
    
    .menuToggle ul {
        font-size: 1.2rem;
        margin-right: 2rem;
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }

    .menuToggle ul a {
        margin: 0px 10px;
    }
}

/* =============== Setting for mobile viewport ==================*/

@media only screen and (max-width: 899px) {

    .header {
        box-sizing: border-box;
        overflow: hidden;
    }
    
    .navbarContainer {
        position: sticky;
        top: 0;
        min-width: 100%;
        height: 70px;
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .logo {
        width: 60px;
        height: 50px;
        margin-left: 2rem;
        background-image: url("./resource/Screenshot\ 2566-04-06\ at\ 17.16.49.png");
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }

    .menuToggle {
        display: block;
        position: relative;
        top: 4rem;
        right: 2rem;
        z-index: 1;
        user-select: none;
        box-sizing: border-box;
    }

    .menuToggle a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7);
        transition: color 0.3s ease;
    }

    .menuToggle a:hover {
        color: rgba(255, 255, 255, 1)
    }

    .menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -4.26rem;
        right: -0.5rem;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    .menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        position: relative;
        left: 0.28rem;
        top: -3.8rem;
        background-color: #fff;
        margin-bottom: 5px;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;;
    }

    .menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    .menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    .menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: rgba(255, 255, 255, 0.7);
    }

    .menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    .menu {
        position: absolute;
        width: 18rem;
        margin: -43px 0px 0px -130px;
        background-color: rgba(0, 0, 0, 1);
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        border-bottom-left-radius: 10px;
        z-index: 1;
    }

    .menu li {
        padding: 10px 0px 0px 20px;
        font-size: 1.2rem;
        line-height: 2rem;
        z-index: 10;
    }

    .menu:last-child {
        padding-bottom: 15px;
    }

    .menuToggle input:checked ~ ul {
        transform: none;
    }
}

.textBanner {
    color: var(--textColor);
    font-size: clamp(14px, 1.5vw, 20px);
    margin: auto;
    padding: 3em;
    font-family: 'Changa One', cursive;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-family: 'Rubik Mono One', sans-serif;
    z-index: 0;
}

.textBanner h1 {
    opacity: 0;
    animation: fade-in-animation 2s ease-in-out forwards;
}

@keyframes fade-in-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ================================================================
--------------------> For Workout Routines Section  <---------------
================================================================ */
.heroSection-container {
    background: var(--bgColorRed);
}

.heroSection-container > div:nth-child(1) {
    background: url("./resource/herosectionbanner.jpg");
    background-repeat: none;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 11px rgba(33,33,33,.8); 
}

.heroSection-container > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(18px, 1.5vw, 24px);
    color: var(--textColor);
}

.textHeroSectionContainer > h1 {
    display: inline-block;
    position: relative;
}

.textHeroSectionContainer > h1::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.textHeroSectionContainer > h1:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.textHeroSectionContainer > h1 > a {
    color: var(--textColor);
    text-decoration: none;
}

.textHeroSectionContainer :nth-child(2) {
    font-size: var(--textSizeforP);
    color: var(--textColor);
    font-family: 'Caveat', cursive;
    margin-bottom: 30px;
}

.textHeroSectionContainer p:last-child {
    font-size: var(--textSizeforP);
    color: var(--textColor);
}

/* ============= For Desktop screen =================*/
@media only screen and (min-width: 900px) {
    .heroSection-container {
        display: grid;
        max-width: 100vw;
        height: 500px;
        margin: 40px auto;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    .heroSection-container > div:nth-child(1) {
        margin: 20px 0px 20px 20px;
        border-radius: 1px;
        border: 1px solid var(--bgColorBlack);
    }
    
    .heroSection-container > div:nth-child(2) {
        margin: 20px 20px 20px 0px;
    }

    .textHeroSectionContainer {
        margin: 20px;
        text-align: center;
    }

    .textHeroSectionContainer > h1 {
        margin-bottom: 30px;
    }
  
}

/*====================== For mobile screen ======================*/
@media only screen and (max-width: 899px) {
    .heroSection-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100vw;
        margin: 40px auto;
        box-sizing: border-box;
        padding: 40px;
    }

    .heroSection-container > div:nth-child(1) {
        width: clamp(300px, 80vw, 600px);
        min-height: 400px;
        padding: 20px;
        top: 50px
    }

    .heroSection-container > div:nth-child(2) {
        width: clamp(300px, 80vw, 600px);
        min-height: 400px;
        padding: 20px;
    }

    .textHeroSectionContainer {
        display: flex;
        flex-direction: column;
        border-style: solid;
        padding: 20px;
    }

    .textHeroSectionContainer > h1 {
        font-size: var(--textSizeforH);
        display: inline;
        box-sizing:content-box;
    }

    .textHeroSectionContainer :nth-child(2) {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .textHeroSectionContainer > h1::after {
        content: '';
        position: absolute;
        width: 46%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #fff;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
}

/* ================================================================
-----------------------> Nutrition Section <----------------------
================================================================ */

/* ================= For Desktop Screen============= */

@media only screen and (min-width: 900px) {

    .nutritionSectionContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        max-width: 100vw;
        min-height: 500px;
        background: #f4f4f2;
        background-image: url("./resource/Nutrition.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -70px;
        box-sizing: border-box;
        margin-bottom: 30px;
    }
    
    .nutritionTextContainer {
        max-width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
        box-sizing: border-box;
    }

    .nutritionTextContainer h1 a {
        font-size: var(--textSizeforH);
        text-decoration: none;
        color: var(--bgColorBlack);
        position: relative;
    }

    .nutritionTextContainer h1 a:hover {
        font-size: 2rem;
    }

    .nutritionTextContainer p {
        font-size: var(--textSizeforP);
        color: var(--bgColorBlack);
        margin-top: 25px;
    }
}

/* =================  For mobile screen ============= */

@media only screen and (max-width: 899px) {
    .nutritionSectionContainer {
        display: flex;
        align-items: center;
        max-width: 100vw;
        min-height: 500px;
        background-image: url("./resource/Nutrition.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    } 

    .nutritionTextContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin: 4rem;
        background: rgba(213, 185, 185, 0.9);
        border-radius: 10px;
        box-shadow: 0 0 11px rgba(33,33,33,.8); 
    }

    .nutritionTextContainer h1 a {
        text-decoration: none;
        color: #000;
    }

    .nutritionTextContainer p {
        margin-top: 20px;
    }
}

/* ================================================================
-----------------------> For Challenges Section  <-----------------
================================================================ */


.ChallengeContainer {
    max-width: 100vw;
    min-height: 100vh;
    background-image: url("./resource/challenge.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.challengeText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 200px;
    color: var(--textColor);
    font-family: 'Raleway', sans-serif;
    background-color: rgba(136, 69, 69, 0.9);
    margin-bottom: 30px;
    padding: 0 150px;
}

.challengeText > h1 a {
    font-size: var(--textSizeforH);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--textColor);
}

.challengeText > p {
    text-align: left;
    margin-top: 15px;
    font-size: var(--textSizeforP);
}

.ChallengeStuffContainer {
    display: flex;
    flex-direction: row;
}

.challengeBox {
    display: flex;
    color: var(--textColor);
    text-align: center;
    margin: 20px;
    max-width: 300px;
    min-height: 300px;
    background-color: rgba(213, 185, 185, 0.9);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.challengeBox:nth-child(1) {
    background-image: url("./resource/Physical\ Challenges.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.challengeBox:nth-child(2) {
    background-image: url("./resource/Nutritional\ Challenges.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.challengeBox:nth-child(3) {
    background-image: url("./resource/Mental\ Challenges.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.challengeBox h1 {
    padding-top: 110px;
    margin: 10px;
    max-width: 300px;
    min-height: 300px;
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: 1s;
}

.challengeBox h1:hover {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
}

/*=================== For Mobile Screen ========================*/

@media only screen and (max-width: 899px) {

    .challengeText {
        max-width: 100vw;
        margin: 0;
        padding: 20px 40px;
    }

    .ChallengeContainer {
        overflow: hidden;
    }
    
    .ChallengeStuffContainer {
        margin-top: 50px;
        min-width: 300px;
        min-height: 300px;
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
    }

    .challengeBox {
        height: 100%;
        flex-shrink: 0;
        scroll-snap-align: center;
        
    }

    .ChallengeStuffContainer::-webkit-scrollbar {
        display: none;
    }
}

/* ================================================================
-----------------------> Form Section <----------------------
================================================================ */

/*=================== For Desktop Screen ========================*/

@media only screen and (min-width: 900px) {
    .ContractContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 100vw;
        min-height: 100vh;
        background-color: #fff;
    }

    .ContractBG {
        min-width: 49vw;
        min-height: 100vh;
        background-color: #000;
        background-image: url("./resource/trainer.jpg");
        background-size: 300px 300px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .ContractForm {
        min-width: 49vw;
        min-height: 100vh;
    }
}

/*=================== For Mobile Screen ========================*/

/* @media only screen and (max-width: 899px) {
    
} */